@use '../abstracts/' as *;

.container-slider {
	img {
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
	}
	&__buttons {
		display: flex;
		justify-content: center;
		gap: 1rem;

		button {
			padding: 1rem;
			background-color: map-get($colors, main, 900);
			border-radius: 50%;
			transition: background-color 0.3s ease-in-out;
			cursor: pointer;
			&:hover,
			&:focus {
				background-color: #755cde;
			}
		}
	}
}
