$colors: (
	main: (
		100: #fff,
		300: #fff7f0,
		600: #7a746e,
		900: #030303,
	),
	boxes-background: (
		graphic: #755cde,
		ux: #f6a560,
		apps: #f39e9e,
		photo: #61c4b7,
		illustations: #eb7565,
		motion: #552049,
	),
);

